<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.danbplus.util.mybatis.MybatisRepository">
  <select id="getCodeList" resultType="COD_MGT">
    select * from cod_mgt where cod_depth = #{cod_depth};
  </select>
</mapper>